{{#if emptyCart}}
<!--<img src="\images\carryout-bag-156778_1280.png" class="rounded mx-auto d-block" alt="carryBag"
    style="height:15rem;width:15rem;margin-top:5rem">-->
<div style="margin-top:6rem;margin-left:36rem">
    <svg width="12em" height="12em" viewBox="0 0 16 16" class="bi bi-cart-dash" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
        <path fill-rule="evenodd" d="M6 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z" />
    </svg>
</div>
<h1 class="text-center mt-2" style="margin-bottom:1rem">{{Msg}}<span style="color: red;">!</span>
    <div class="d-flex justify-content-center mt-4">
        <a href="/" class="btn btn-outline-primary rounded-0" style="width: 50%;">Shop Now</a>
    </div>
</h1>
{{else}}
<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img src="/product-images/{{this.product._id}}.jpg" style="width:70px;height:70px" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>
                    <td>
                        <button class="btn btn-info mr-3 cart-item-count " id="button(-)"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-
                        </button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="btn btn-info ml-3 cart-item-count" id="button(+)"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+
                        </button>
                    </td>
                    <td>
                        <a href="/delete-product/{{this.product._id}}" class="btn btn-danger"
                            onclick="return confirm('Are you want to remove {{this.product.Name}} from this cart ?')">
                            Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5 pt-5">
            <h3 style="text-align:center">Total Rs. <span id="total">{{total}}</span></h3>
            <a href="/place-order" class="btn btn-primary mt-3" style="width:100%">Place Order</a>
        </div>
    </div>
</section>
{{/if}}
<script>

    function changeQuantity(cartId, proId, userId, count) {
        count = parseInt(count)
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        let qty = quantity + count
        console.log("Qty:" + qty)
        console.log("Count" + count)

        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                user: userId,
                count: count,
                quantity: qty
            },
            method: 'post',
            success: (response) => {
                console.log(response)
                 if (response.removeProduct) {
                    setTimeout(function () {// wait for 5 secs(2)
                        location.reload(); // then reload the page.(3)
                    }, 2000);
                } else {
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                }
            }
        })
    }
</script>