<section>
    <div class="container">

        <table class="table mt-5">
            <thead>
                <tr>

                    <th scope="col">Item</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>

                    <td><img src="/product-images/{{this.product._id}}.jpg" style="width:70px;height:70px" alt=""></td>
                    <td>{{this.product.Name}}</td>
                    <td>Rs.{{this.product.Price}}</td>

                    <td>
                        <button class="btn btn-info mr-3 cart-item-count" id="buttonA"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="btn btn-info ml-3 cart-item-count" id="buttonB"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Remove</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <hr>
        <div class="float-right pr-5 pt-5">
            <h3 style="text-align:center">Total Rs. <span id="total">{{total}}</span></h3>
            <a href="/place-order" class="btn btn-primary mt-3" style="width:100%">Place Order</a>
        </div>
    </div>
</section>
<script>

    
    function changeQuantity(cartId, proId, userId, count) {
        count = parseInt(count)
        let quantity = parseInt(document.getElementById(proId).innerHTML)
        let qty = quantity + count
        console.log(qty)

        
        $.ajax({
            url: '/change-product-quantity',
            data: {
                cart: cartId,
                product: proId,
                user: userId,
                count: count,
                quantity: qty
            },
            method: 'post',
            success: (response) => {
              
                    document.getElementById(proId).innerHTML = quantity + count
                    document.getElementById('total').innerHTML = response.total
                
            }
        })
    }
</script>