<section>

    <div class="container p-auto">
        <h1 class="text-center mt-5 display-4">New Arrivals</h1>

        <div class="row">
            {{#each products}}
            <div class="col-md-3 mt-5">
                <div class="card mt-0" style="width:100%;height:100%">
                    <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap"
                        style="height:150px;width:254px">
                    <div class="card-body ">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <h5 class="card-title">Rs.{{this.Price}}</h5>
                        <p class="card-text">{{this.Description}}</p>
                        <!--<a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to Cart</a>-->
                    </div>

                    <button onclick="addToCart('{{this._id}}')" class="btn btn-primary rounded-0">Buy Now
                        <div style="margin-top:auto;">
                            <span>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-fill"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z" />
                                </svg>
                            </span>
                        </div>


                    </button>

                </div>

            </div>
            {{/each}}
        </div>

    </div>
</section>

</body>